<div class="th-container">
    <div ng-controller="CategoryCtrl as cat">
        <div class="category-items" ng-repeat="category in cat.category_objects">
            <div class="category-box" ng-class="{'hover-vid-box': hover}">
                <a class="category-url" href="{{category.category_url}}" target="_blank">
                    <img class="category-image" src="{{category.category_thumbnail}}" alt="{{category.category_name}}">
                    <br>
                    <div class="category-name-position">
                    <span class="category-name">{{category.category_name}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
