<div class="th-container">
    <div ng-controller="VidCtrl as vid">
        <div class="video-items" ng-repeat="info in vid.video_objects" ng-model="info.title">
            <div class="video-box">
                <a href="{{info.video_url}}" target="_blank">
                    <img class="video-image" src="{{info.thumbnail_url}}">
                    <br>
                    <span class="video-title">{{info.title}}</span>
                </a>
                <span class="video-duration">{{info.duration}}</span>
            </div>
        </div>
    </div>
</div>
